body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}


footer {
  flex-shrink: 0;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}


menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.navbar-toggler {
  border: none;      
  box-shadow: none;  
}

.navbar .dropdown {
  position: relative;
  z-index: 1;
}




menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

:root,
[data-bs-theme="dark"] {
  --bs-primary: #6d0fb0;
  --bs-primary-rgb: 150, 26, 239;
}


@media (max-width: 600px) {
  .navbar .navbar-brand {
    font-size: 1rem;
  }

}
