body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 0.5rem;
}


footer {
  flex: 0 30px;
}


menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar .navbar-brand {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: .3em;
}

main h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.dropdown-row {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.dropdown-row .btn {
  width: 120px;
}

.navbar-toggler {
  border: none;      
  box-shadow: none;  
}

.navbar .dropdown {
  position: relative;
  z-index: 1;
}

.current-user {
    color: #888; 
    font-size: .8rem;  
}


.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  justify-content: space-between;
}




menu .nav-item {
  padding: 0 0.3em;
}

footer {
  flex-shrink: 0;  
  height: 40px;         
  line-height: 40px;    
  width: 100%;
  text-align: center;
  background-color: #222;
  color: #fff;
}

:root,
[data-bs-theme="dark"] {
  --bs-primary: #6d0fb0;
  --bs-primary-rgb: 109, 15, 176;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #5c0da0;
  border-color: #5c0da0;
}





@media (max-width: 600px) {
  .navbar .navbar-brand {
    font-size: 1rem;
  }

}
