body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


footer {
  flex: 0 30px;
}


menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: .3em;
}


.navbar-toggler {
  border: none;      
  box-shadow: none;  
}

.navbar .dropdown {
  position: relative;
  z-index: 1;
}




menu .nav-item {
  padding: 0 0.3em;
}

footer {
  flex-shrink: 0;  
  height: 40px;         
  line-height: 40px;    
  width: 100%;
  text-align: center;
  background-color: #222;
  color: #fff;
}

:root,
[data-bs-theme="dark"] {
  --bs-primary: #6d0fb0;
  --bs-primary-rgb: 109, 15, 176;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #5c0da0;
  border-color: #5c0da0;
}





@media (max-width: 600px) {
  .navbar .navbar-brand {
    font-size: 1rem;
  }

}
